<!DOCTYPE html>
<html>
  <head lang='en'>
    <title>My Simple web app</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/styles.css"/>
  </head>
  <body>
    <h1>Gates selection</h1>
    <p>Please, select the gates</p>
    <form class="submit" action="/monitoring-exit" method="GET">
      <a class="button" type="submit" href="/monitoring-exit">Entrance/Exit gates</a>
    </form>
    <form class="submit" action="/monitoring-restroom" method="GET">
      <a class="button" type="submit" href="/monitoring-restroom">Restroom gates</a>
    </form>
    <form class="submit" method="GET">
      <a class="button" type="submit" href="/store-selection">Back</a>
    </form>
    <div>
    </div>
  </body>
</html>
