<!DOCTYPE html>
<html>
  <head lang='en'>
    <title>My Simple web app</title>
    <!---<meta charset="utf-8" http-equiv="refresh" content="5">-->
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/styles.css"/>
  </head>
  <body>
    <!--<body background="../static/images/decathlon_layout.jpg">-->
    <div class="monitoring">
      <div class="logo_color_monitoring">
        <img src="../static/images/logo_color.png" alt="logo">
          <div class="logo_monitoring">
            <img src="../static/images/logo.png" alt="logo">
          </div>
      </div>
      <h1 class="title_monitoring">Monitoring</h1>
      <p class="title_monitoring_2">Please, check the products below</p>
      <!--<script scr="script.js"></script>-->
      <!---<div id="root">-->
      <!--<div>-->
	    <div class="display" style="overflow:scroll; height:490px; width: 700px; margin-left: 160px;">
        <ul>
          {% for item in pics %}
            <li>
                <img class="product_picture"; src="{{ item.pic }}"; alt="product picture"/>
            </li>
            <li class="product_name">
                <b>{{ item.brand }}</b> {{ item.name }} <b>{{ item.size }}</b>
            </li>
            <li class="additional_info">
                <p>Additional info</p> EPC <span class="border">{{ item.epc }}</span>
                <p>EAN13<span class="border">{{item.ean13}}</span>
                Serial Number <span class="border">{{item.serial}}</span></p>
            </li>
            <li class="alert">
                Alert created  <span class="border">{{ item.time }}</span>
            </li>
            <li>
                <a class="button deactivate" href="">Deactivate</a><a class="button cancel" href="">Cancel</a>
            </li>
            <li><hr></li>
            {% endfor %}
        </ul>
	    </div>
      <form class="submit refresh" action="/monitoring" method="POST">
        <a type="submit" href=""><img src="../static/images/refresh.png"></a>
      </form>
      <form class="submit back_to_gates" method="GET">
        <a type="submit" href="/gate-selection"><img src="../static/images/back.png"></a>
      </form>
    </div>
  </body>
</html>
