<!DOCTYPE html>
<html>
  <head lang="en">
    <title>My Simple web app</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
  </head>
  <body>
    <h1>Store selection</h1>
    <p>Please, select the store below</p>
    <form class="submit" action="/gate-selection" method="GET">
      <a class="button" href="/gate-selection">Emeryville</a>
    </form>
    <form class="submit">
      <a class="button" href="">Market street</a>
    </form>
    <form class="submit">
      <a class="button" href="">Potrero</a>
    </form>
  </body>
</html>
