<!DOCTYPE html>
<html>
  <head lang='en'>
    <title>My Simple web app</title>
    <meta charset="utf-8" http-equiv="refresh" content="5">
    <link rel="stylesheet" href="../static/css/styles.css"/>
  </head>
  <body>
    <h1>Monitoring</h1>
    <p>Cheking the products below</p>
    <script scr="script.js"></script>
    <div id="root">
      <div>
	<div style="overflow:scroll; height:400px;">
    <ul>
    {% for item in pics %}
    <li><img class="product_picture"; src="{{ item.pic }}"; alt="product picture"/></li>
    <li>{{ item.brand }} : {{ item.name }} (size {{ item.size }})</li>
    <li>Additional info: EPC: {{ item.epc }}, EAN13: {{item.ean13}}, Serial Number: {{item.serial}}</li>
    <li>Alert created : {{ item.time }}</li>
    <li><a class="button" href="">Deactivate</a><a class="button" href="">Cancel</a></li>
    <li><hr></li>
    {% endfor %}
  </ul>
  <button> <a href="/monitoring">Click me</a></button>
	</div>
  <form class="submit" action="/monitoring" method="POST">
    <a class="button" type="submit" href="">Refresh page</a>
  </form>
  <form class="submit" method="GET">
    <a class="button" type="submit" href="/gate-selection">Back</a>
  </form>
      </div>
    </div>
    </body>
</html>
