<!DOCTYPE html>
<html>
  <head lang="en">
    <title>My Simple web app</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
  </head>
  <body>
    <div class="logo_color">
      <img src="../static/images/logo_color.png" alt="logo">
        <div class="logo">
          <img src="../static/images/logo.png" alt="logo">
        </div>
    </div>
    <div class="information">
      <h1 class="title">Store selection</h1>
      <p class="title_2">Please, select the store below</p>
      <form class="submit emeryville" action="/gate-selection" method="GET">
        <a class="button" href="/gate-selection">Emeryville</a>
      </form>
      <form class="submit market">
        <a class="button" href="">Market street</a>
      </form>
      <form class="submit potrero">
        <a class="button" href="">Potrero</a>
      </form>
      <form class="submit back" method="GET">
        <a type="submit" href="/store-selection"><img src="../static/images/back.png"></a>
      </form>
    </div>
  </body>
</html>
