<!DOCTYPE html>
<html>
  <head lang='en'>
    <title>My Simple web app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
  </head>
  <body>
    <!--<body background="../static/images/background.jpg">-->
    <div class="monitoring">
    <div class="logo_color_monitoring">
      <img src="../static/images/logo_color.png" alt="logo">
        <div class="logo_monitoring">
          <img src="../static/images/logo.png" alt="logo">
        </div>
      </div>
<!--    </div>
    <div class="information">-->
        <h1 class="title">Gates selection</h1>
        <p class="title_2">Please, select the gates</p>
      <form class="submit entrance_exit" action="/monitoring-exit" method="GET">
        <a class="button" type="submit" href="/monitoring-exit">ENTRANCE/EXIT</a>
      </form>
      <form class="submit restroom" action="/monitoring-restroom" method="GET">
        <a class="button" type="submit" href="/monitoring-restroom">RESTROOM</a>
      </form>
      <!--<form class="submit back" method="GET">
        <a type="submit" href="/store-selection"><img src="../static/images/back.png" alt="back"/></a>
      </form>-->
    </div>
    <form class="submit back_to_gates" method="GET">
      <a type="submit" href="/login"><img src="../static/images/back_2.png"><span class="backtext">Back to a previous page</span></a>
    </form>
    <form class="submit logout" method="POST">
      <a type="submit" href="/logout"><img src="../static/images/logout.png"><span class="logout">Logout</span></a>
    </form>
  </body>
</html>
