<!DOCTYPE html>
<html>
<head lang='en'>
    <title>Go to login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>
<body>
    <div class="monitoring">
      <div class="logo_color_monitoring">
        <img src="../static/images/logo_color.png" alt="logo">
          <div class="logo_monitoring">
            <img src="../static/images/logo.png" alt="logo">
          </div>
        </div>
        <div class="out">
          Hi there!
        </div>
        <div class="go">
          <form action="/login">
            Go to a <a href="/login">login page</a>
          </form>
        </div>
    </div>
</body>
</html>
