<!DOCTYPE html>
<html>
  <head lang='en'>
    <title>Logout</title>
    <!---<meta charset="utf-8" http-equiv="refresh" content="5">-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
  </head>
  <body>
    <div class="monitoring">
      <div class="logo_color_monitoring">
        <img src="../static/images/logo_color.png" alt="logo">
          <div class="logo_monitoring">
            <img src="../static/images/logo.png" alt="logo">
          </div>
        </div>
      <div class="out">
        Au Revoir...<br>
        Succesfully logged out
      </div>
      <div class="go">
        <form>
          Back to a <a href="/login">login page</a>
        </form>
      </div>
  </div>
  </body>
</html>
