<!DOCTYPE html>
<html>
  <head lang='en'>
    <title>My Simple web app</title>
    <!---<meta charset="utf-8" http-equiv="refresh" content="5">-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
  </head>
  <body>
    <div class="monitoring">
      <p class="logout">Au Revoir</p>
      <p>Succesfully logged out</p>
      <form class="submit entrance_exit">
      <a class="button" href="/login">Back to login page</a>
    </form>
  </div>
  </body>
</html>
